<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex;height:58px;position: fixed;width: 100%; top: 0;">
  <a *ngIf="!adding" (click)="on_click()" class="navbar-brand" style="margin-left: 1rem;"><i class="fa-solid fa-bars"></i></a>
  <a *ngIf="adding" (click)="backHome()" class="navbar-brand" style="margin-left: 1rem;">Home</a>
  <a (click) = "AddEvent()" class="btn btn-primary">Add an Event</a>
  <form class="form-inline" style="display:flex;float:right;margin-left:auto;margin-right: 2%;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:72%;display:inline;">
    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 2%;margin-top: 0%;" type="submit">Search</button>
  </form>
</nav>
<div *ngIf="!adding" [ngClass]="{'add' : !adding }">
<app-sidebar (StatusChange)="onStatusChanged($event)" [default]="defaultside" *ngIf="ham_click" style="display: block;position:fixed;z-index : 1;height:100%;width: fit-content;"></app-sidebar>
<div [ngClass]="{'margin' : ham_click}"  >
<h2 style="text-align: center;
padding-top: 10px;">
{{heading}}
</h2>
<hr>
<div  style="display: flex;flex-wrap: wrap;justify-content: center;">
<div *ngFor="let item of Updated_list_of_events; index as i;" >
  <app-event-card (EditIndex)="editIndex($event)" (CancelIndex)="cancelEvent($event)" style="margin:4px;" [index]="i" [title]="item.title" [desc]="item.description" [startdate]="item.startdate" [enddate]="item.enddate" [ticketOrdered]="item.ticketOrdered" ></app-event-card>
</div>
</div>
</div>
</div>
<div *ngIf="adding" [ngClass]="{'add' : adding }">
  <app-add-event (EventAdd)="addEventWithData($event)" [event]="selected_event" [index]="current_index"></app-add-event>
</div>
